@media only screen and (min-width: 390px) {
  .container {
    align-items: center;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    height: 1076px;
    width: 390px;
  }

  .products,
  .about,
  .resources,
  .place,
  .dashboard,
  .frame-7-1,
  .frame-7-2 {
    display: none;
  }

  .frame-7 {
    align-items: center;
    display: flex;
    margin-top: 60px;
    min-width: 390px;
  }

  .unx {
    position: relative;
    height: 55px;
    left: 31px;
    letter-spacing: 1.08px;
    width: 165px;
  }

  .group-7 {
    position: absolute;
    width: 390px;
    height: 239px;
    top: 182px;
    text-align: center;
  }

  .best-way-to {
    position: absolute;
    width: 390px;
    height: 239px;
    color: #ffffff;
  }

  .inter-bold-white-64px {
    font-weight: bold;
    color: white;
    font-size: 40px;
  }

  .track-your-daily-progress {
    width: 390px;
    height: 200px;
    top: 50px;
    position: absolute;
  }

  .unx-allows-you-to-tr {
    height: 40.25px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    width: 287.03px;
    top: 409.75px;
  }
  .poppins-medium-nobel-18px {
    /* font-family: 'Poppins'; */
    font-weight: 500;
    font-size: 12.75px;
    color: #b0b0b0;
  }

  .frame-8 {
    align-items: center;
    background-color: #2103d7;
    border-radius: 8.7907px;
    display: flex;
    height: 65px;
    padding: 12.307px 40.4372px;
    position: absolute;
    height: 57.14px;
    left: 101px;
    top: 492px;
  }
  .small {
    display: block;
  }
  .large {
    display: none;
  }
}
@media only screen and (min-width: 1473px) {
  .container {
    align-items: center;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    height: 1076px;
    width: 1473px;
  }

  .frame-7-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 208px;
    min-width: 478px;
  }

  .frame-7-2 {
    align-items: center;
    background-color: #242424;
    border-radius: 10px;
    display: flex;
    height: 50px;
    margin-left: 208px;
    min-width: 165px;
    padding: 0 32px;
  }

  .frame-7 {
    align-items: center;
    display: flex;
    margin-right: 33px;
    margin-top: 60px;
    min-width: 1224px;
  }

  .unx {
    height: 55px;
    letter-spacing: 1.08px;
    width: 165px;
  }

  .products {
    height: 22px;
    letter-spacing: 0;
    margin-left: 61px;
    min-width: 54px;
    text-align: center;
    display: block;
  }

  .about {
    height: 22px;
    letter-spacing: 0;
    margin-left: 61px;
    min-width: 54px;
    text-align: center;
    display: block;
  }

  .resources {
    height: 22px;
    letter-spacing: 0;
    margin-left: 61px;
    min-width: 92px;
    text-align: center;
    display: block;
  }

  .place {
    height: 22px;
    letter-spacing: 0;
    margin-left: 61px;
    min-width: 70px;
    text-align: center;
    display: block;
  }

  .dashboard {
    height: 22px;
    letter-spacing: 0.54px;
    min-width: 101px;
    text-align: center;
  }

  .group-7 {
    position: absolute;
    width: 799px;
    height: 239px;
    left: 320px;
    top: 182px;
  }

  .best-way-to {
    position: absolute;
    width: 661px;
    height: 239px;
    left: 157px;
    color: #ffffff;
  }

  .inter-bold-white-64px {
    font-weight: bold;
    color: white;
    font-size: 64px;
  }

  .track-your-daily-progress {
    width: 799px;
    height: 87px;
    top: 79px;
    position: absolute;
    line-height: 77px;
  }

  .unx-allows-you-to-tr {
    height: 54px;
    left: 383px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 416px;
    width: 670px;
  }

  .poppins-medium-nobel-18px {
    /* font-family: 'Poppins'; */
    font-weight: 500;
    font-size: 18px;
    color: #b0b0b0;
  }

  .frame-8 {
    align-items: center;
    background-color: #2103d7;
    border-radius: 18px;
    display: flex;
    height: 65px;
    min-width: 215px;
    padding: 0 52px;
    position: absolute;
    width: 215px;
    height: 65px;
    left: 612px;
    top: 507px;
  }

  .large {
    display: block;
  }
  .small {
    display: none;
  }
}

.image-frame {
  top: 625px;
  position: absolute;
}

.inter-bold-white-36px {
  font-weight: bold;
  color: white;
  font-size: 36px;
}

.inter-regular-normal-white-18px {
  color: white;
  font-size: 18px;
}

.inter-bold-white-18px {
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.overlap-group1 {
  align-items: flex-start;
  align-self: flex-start;
  background-size: 100% 100%;
  display: flex;
  min-width: 1px;
}

.gradient-text {
  background-color: #a5d9ff;
  background-image: linear-gradient(45deg, #a5d9ff, #7399fb);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}



.overlay-group {
  height: 288px;
  margin-right: 30px;
  position: relative;
  width: 803px;
}

.group-7-1 {
  align-items: flex-start;
  display: flex;
  height: 239px;
  left: 320px;
  min-width: 803px;
  position: absolute;
  top: 182px;
}

.title {
  height: 239px;
  letter-spacing: 0;
  margin-left: 68px;
  text-align: center;
  width: 661px;
}

.try-this-app {
  height: 22px;
  letter-spacing: 0.54px;
  min-width: 111px;
  text-align: center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ellipse {
  position: absolute;
  width: 421px;
  height: 431px;
  left: 225px;
  top: 331px;
  z-index: -1;

  background: #3747d7;
  filter: blur(624px);
}
